<!-- create_task.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Task</title>
</head>
<body>

 
<h1>Create Task</h1>

<!-- Display tasks -->
<h2>Task List</h2>
<ul>
    {% for task in tasks %}
        <li>{{ task.id }}:{{ task.title }}: {{ task.description }}</li>
    {% endfor %}
</ul>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Create Task</button>
</form>



</body>
</html>
